body{
	/* min-width:970px;
	overflow:auto !important; */
}
.layout-panel-north{
	overflow:visible !important;
}
body{
	min-width: 1024px;
}
body .welcome{
	color:#ffffff;
	font-size: 20px;
	padding-top:12px;
	padding-right:50px;
}
.header{
	height:55px;
	background-color:#0285b3;
	border: none;
}
.header .logo{
  display: inline-block;
  width: 200px;
  font-size: 24px;
  text-align: center;
  line-height: 24px;
  padding: 12px;
  color: #ffffff;
  vertical-align:middle;
  margin:0;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-wrap{
	position: absolute;
  	top:0;
  	left: 200px;
  	overflow: hidden;
  	height:48px;
}

.nav-silde{
	z-index:100;
	height:auto;
}



.header ul{
	/*display:inline-block;*/
	/*margin-left: 200px;*/
	background-color:#0285b3;
	margin-bottom: -4px;
	list-style:none;
}

.header ul>li{
	float:left;
	position: relative;
    display: block;
}
.nav-wrap ul>li>a{
	color: #ffffff !important;
    height: 48px;
    padding: 0 10px;
    line-height: 48px;
    font-size: 15px;
    font-weight: bold;
    -webkit-transition: color linear .15s;
    -o-transition: color linear .15s;
    transition: color linear .15s;
  /**  text-align:center; */
    width:110px;
}
.header ul>li>a>i{
	margin-right:4px;
}

.nav-wrap ul>li>a:visited ,.nav-wrap ul>li>a:hover ,.nav-wrap ul>li>a:active{
	color: #ffffff !important;
	background-color:#51a2d4;
}




.header .breadcrumb{
	background-color:#0081c2;
	padding: 15px;
	font-size: 18px;
	
}
.header  a{
	color: #ffffff;
	text-decoration: none;
}
.header  a:hover{
	text-decoration: none;
}

.nav-wrap a.nav-switcher{
	position: absolute;
    right: 15px;
    top: 15px;
    color: #fff;
    text-decoration: none;
    vertical-align:middle;
    font-size: 14px;
}
.nav-wrap a.nav-switcher:hover{
	color:#b4e6ff;
}

.nav-wrap a.nav-switcherset {
    position: absolute;
    right: 8px;
    bottom: 15px;
    color: #fff;
    text-decoration: none;
    vertical-align: bottom;
    height: 18px;
    display:none;
}

.nav-wrap a.nav-switcherset span {
    margin-left: 2px;
    vertical-align: middle;
    display: inline-block;
}

.nav-wrap a.nav-switcherset .middlehelper {
    height: 100%;
}

.user-profile{
	position: absolute;
	top: 0;
    right: 5px;
}

.user-profile >li > a{
	display: block;
    height: 48px;
    line-height: 48px;
    width:auto !important;
    padding: 0 10px;
    font-size: 15px;
    font-weight: bold;
    border:none;
}
.user-profile a.dropdiown-toggle:hover{
	color: #ffffff !important;
	background:#51a2d4 !important;
}

 .user-profile .dropdown-menu{
 	right:0;
 	left:auto;
 	background-color:#FFFFFF;
 }
  .user-profile .dropdown-menu li{
 	width:100%;
 }
 .user-profile .dropdown-menu li > a:hover{
 	color: #ffffff !important;
	background:#51a2d4 !important;
 }

.left-content{
	width:200px;
}

.left-content>ul {
	display:none;
}
.left-content ul.active{
	display:block;
}

.left-content ul{
	list-style-type: none;
	padding:10px 0;
	margin:0;
}
.left-content ul li{
  height: 25px;
  line-height: 25px;
}
.left-content ul li a{
  height: 25px;
  line-height: 25px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  display: block;
  text-decoration: none;
}
.left-content ul li a:hover{
  height: 25px;
  line-height: 25px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  display: block;
  text-decoration: none;
  background-color:#0081c2;
  color:#ffffff;
}
.right-content{
	width:220px;
}
.left-content>ul {
	display:none;
}
.news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px dotted #555;
    height:50px; 
}
.main-content{
	margin:0;
	padding:0;
	/* min-width:970px; */
}
.main-content-left{
     height: 100%;
     margin:0;
     padding:0 240px 0 0;
}
.shortcutNavigation{
	margin:0px;
}
.index-report{
	margin:30px 0 0 0;
	padding:0;
}
.index-report-item{
	background: -moz-linear-gradient(top, #FAFAFA 0%, #DDDDDD 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#DDDDDD));
    background: -webkit-linear-gradient(top, #FAFAFA 0%,#DDDDDD 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%,#DDDDDD 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%,#DDDDDD 100%);
    background: linear-gradient(to bottom, #FAFAFA 0%,#DDDDDD 100%);
	text-algin:center;
	border:none;
	padding:0;
	margin:0;
	border-right: 3px solid #ffffff;
}
.index-report-item >div{
	margin:0 auto;
	height:300px;
	width:260px;
}

.main-content-right{
     position: absolute;
     right: 0;
     top: 30px;
     width: 240px;
     height: 100%;
     padding:0 10px;
}

.footer{
	height:50px;
}

.main-content #manager_tool{
	padding:5px;
}

#manager_tool .tool-button{
	margin-button:5px;
}
#manager_tool .tool-filter{
	margin-button:5px;
}

/**
*床位图样式
*/
.panel-group .panel {
	margin-bottom: 20px !important;
}

ul.room-item {
	list-style-type: none;
}

ul.room-item>li {
	float: left;
	height: 150px;
	border: 1px solid #D4D4D4;
	margin: 10px;
	border-radius: 4px;
}

ul.room-item>li>h4, ul.room-item>li>div>h7 {
	text-align: center;
}

ul.room-item>li>div {
	width: 68px;
	display: inline-block;
	margin: 0 10px;
	padding: 10px 10px 2px 10px;
}

ul.room-item>li>div:hover {
	border: 2px dashed #D4D4D4;
	border-radius: 4px;
	padding: 8px 8px 0 8px;
}

ul.room-item>li>div>a, ul.room-item>li>div>a:hover {
	text-decoration: none;
	color: #333;
}

.wminimize {
	cursor: pointer
}

.mini-widget {
  margin: 0 0 25px 0;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
  .mini-widget .mini-widget-heading {
    padding: 7px 15px;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    text-transform: uppercase;
    text-align: center;
    background:#808080;
    color: white; }
    .mini-widget .mini-widget-heading .pull-right {
      color: white;
      opacity: 0.7;
      -webkit-transition: All 0.5s ease-in;
      -moz-transition: All 0.5s ease-in;
      -ms-transition: All 0.5s ease-in;
      -o-transition: All 0.5s ease-in;
      transition: All 0.5s ease-in; }
      .mini-widget .mini-widget-heading .pull-right i {
        line-height: 100%;
        margin-right: 2px; }
  .mini-widget .mini-widget-body {
    padding: 5px 5px 0px 5px;;
    font-size: 10px;
    font-weight: 300;
    background: #D3D3D3; }
    .mini-widget .mini-widget-body i {
      color: #5fa9d9;
      -webkit-transition: All 0.5s ease-in;
      -moz-transition: All 0.5s ease-in;
      -ms-transition: All 0.5s ease-in;
      -o-transition: All 0.5s ease-in;
      transition: All 0.5s ease-in;
      font-size: 30px;
      line-height: 30px; }
      .mini-widget .mini-widget-body .female {
      color: #ff3c9d;
      -webkit-transition: All 0.5s ease-in;
      -moz-transition: All 0.5s ease-in;
      -ms-transition: All 0.5s ease-in;
      -o-transition: All 0.5s ease-in;
      transition: All 0.5s ease-in;
      font-size: 30px;
      line-height: 30px; }
      .mini-widget .mini-widget-body .male {
      color: #5fa9d9;
      -webkit-transition: All 0.5s ease-in;
      -moz-transition: All 0.5s ease-in;
      -ms-transition: All 0.5s ease-in;
      -o-transition: All 0.5s ease-in;
      transition: All 0.5s ease-in;
      font-size: 30px;
      line-height: 30px; }
    .mini-widget .mini-widget-body .number {
      font-size: 20px;
      line-height: 24px;
      color: #0080c0; }
    .mini-widget .mini-widget-body .fa-arrow-down{
 		color:green!important;
    }
    .mini-widget .mini-widget-body .fa-arrow-up{
 		color:#ff0000!important;
    }
    .mini-widget .mini-widget-body .content{
	 	color:#c0c0c0!important;
	  	text-align: center;
    }
    .mini-widget-body ul{
    	list-style-type:none;
    }
     .mini-widget-body ul >li{
    	padding:0 50px;
    }
    .mini-widget .navstart{
	 	background:#039ce7!important;
	 	height:80px;
	 	font-size: xx-large;
    }
    .mini-widget .navinprocess{
	 	background:#0076ae!important;
	 	height:80px;
	 	font-size: xx-large;
    }
    .mini-widget .navend{
	 	background:#0057ae!important;
	 	height:80px;
	 	font-size: xx-large;
    }
    
  .mini-widget .mini-widget-footer {
    color: white;
    background: #246895;
    padding: 5px 15px;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    position: relative; }
    .mini-widget .mini-widget-footer i {
      float: right;
      position: relative;
      top: 2px;
      display: none; }

.mini-widget-red .mini-widget-heading {
  background: #f63131;
  color: white; }
  .mini-widget-red .mini-widget-heading .pull-right {
    color: white; }
.mini-widget-red .mini-widget-body {
  background: #ea0a0a; }
  .mini-widget-red .mini-widget-body i {
    color: #f86262; }
  .mini-widget-red .mini-widget-body .number {
    color: white; }
.mini-widget-red .mini-widget-footer {
  color: white;
  background: #d10909; }

.mini-widget-green .mini-widget-heading {
  background: #74b749;
  color: white; }
  .mini-widget-green .mini-widget-heading .pull-right {
    color: white; }
.mini-widget-green .mini-widget-body {
  background: #5d933a; }
  .mini-widget-green .mini-widget-body i {
    color: #90c56e; }
  .mini-widget-green .mini-widget-body .number {
    color: white; }
.mini-widget-green .mini-widget-footer {
  color: white;
  background: #518133; }

.mini-widget-grey .mini-widget-heading {
  background: #666666;
  color: white; }
  .mini-widget-grey .mini-widget-heading .pull-right {
    color: white; }
.mini-widget-grey .mini-widget-body {
  background: #4d4d4d; }
  .mini-widget-grey .mini-widget-body  i{
    color: gray; }
  .mini-widget-grey .mini-widget-body .number {
    color: white; }
.mini-widget-grey .mini-widget-footer {
  color: white;
  background: #404040; }
.shortcutNavigation img {
  width: 110px;
  height: 85px;
}
