 #nursePlanWrap {
            width: 1000px;
            margin: 20px auto 0 auto;
        }

        #nursePlan-events {
            float: left;
            width: 150px;
            padding: 0 10px;
            border: 1px solid #ccc;
            background: #eee;
            text-align: left;
        }

        #nursePlan-events h4 {
            font-size: 16px;
            margin-top: 0;
            padding-top: 1em;
        }

        #nursePlan-events .fc-event {
            margin: 10px 0;
            cursor: pointer;
        }

        #nursePlan-events p {
            margin: 1.5em 0;
            font-size: 11px;
            color: #666;
        }

        #nursePlan-events p input {
            margin: 0;
            vertical-align: middle;
        }

        #nursePlanCalendar {
            float: right;
            width: 800px;
        }